/********************************************
 * MOH Branding
 ********************************************/
 
#userBar {
	background: url("images/banner_moh.png") no-repeat top left #2092c4;
	height: 64px;
	color: white;
}

#banner {
	display: none;
}

#gutter {
	top: 64px;
	border: 0px;
	padding: 0px;
	text-align: center;
}

#navList {
	background-color: #15719a;
	padding: 5px;
	width: auto;
}

#navList a:link, #navList a:active, #navList a:visited, #navList a:hover {
	font-size: 1.1em;
}

.boxHeader {
	background-color: #15719a;
	border-color: #15719a;
}

.box {
	border-color: #15719a;
}