/********************************************
 * MOH Branding
 ********************************************/
 
#userBar {
	background: url("images/banner_moh.png") no-repeat top left #2092c4;
	height: 64px;
	color: white;
	width:100%;
}

#banner {
	display: none;
}

#gutter {
	top: 64px;
	border: 0px;
	padding: 0px;
	text-align: center;
}

#navList {
	background-color: #15719a;
	padding: 1px;
	margin-top: -1.1em;
	width:100%;
	width: auto;
	margin-bottom: 0.2em;
}

#navList a:link, #navList a:active, #navList a:visited, #navList a:hover {
	font-size: 0.8em;
	text-decoration: none;
	color: #ffffff;
}

/*
.boxHeader {
	background-color: #15719a;
	border-color: #15719a;
}

.box {
	border-color: #15719a;
}

.ui-tabs .ui-tabs-nav {
    background: #15719a;
    border-color: #15719a;
}

.ui-widget-content {
	border-color: #15719a;
}
*/

/**********************************************************/

.box, .boxHeader, .boxRed, .boxHeaderRed, .boxExited, .boxHeaderExited, .ui-datepicker-header {
	border: 1px solid #15719a;
}

.boxHeader, .ui-datepicker-header {
	background-color: #15719a;
}

#patientTabs {
	border-bottom: 1px solid #15719a;
}

#patientTabs a:link, #patientTabs a:visited {
	border: 1px solid #15719a;
}